<!-- _Searchbox.cshtml -->
<div class="wrapper">
  <div class="wrapper">
        <link rel="stylesheet" href="~/css/searchbar.css" />
        <div class="label">Search for an app to get started</div>
        <div class="searchBar">
            <input id="searchQueryInput" type="text" name="searchQueryInput" placeholder="Search" value="" />
            <button id="searchQuerySubmit" type="submit" name="searchQuerySubmit">
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                    <!-- Your SVG icon code here -->
                </svg>
            </button>
        </div>
        <div id="searchResultsContainer"></div>
    </div>
</div>
