@{
    ViewData["Title"] = "FAQ's";
}

<h1>@ViewData["Title"]</h1>

<link rel="stylesheet" href="~/css/FAQs.css" />

<div class="FAQ Container">
    <div class="Question">
        <h2>Frequently Asked Questions</h2>
        <details>
            <summary>How do I create accordion?</summary>
            <div>
                The tags <em>details</em> and <em>summary</em> have you covered.
            </div>
        </details>
    </div>
    
    <div>
        <details>
            <summary>How do I submit a timesheet?</summary>
            <div>
                Select the check mark on <b>Hip6</b> page.
            </div>
        </details>
    </div>
    
</div>




