@model ViewModels.ApplicationVM

<h3 class="my-5">
    @Model.Name

</h3>

<div class="row gx-5">
    <div class="col-7">
        <h4> @Model.ShortDescription)</h4>
        <p> @Model.LongDescription)</p>
        <h3>@Model.UserGroups)</h3>
    </div>
</div>
</div>

